.boton{
        background-color: rgb(42, 71, 165); /*color del fondo */
        color: blanchedalmond; /*color del texto*/
        padding: 12px 24px; /*espacio interno del boton */
        font-size: 16px; /*tamaño de la letra*/
        border: none; /*quita el borde */
        border-radius: 5px;
        cursor: pointer; /*mano cuando pasa el mouse*/
        transition: background-color 0.3s;

    }
.boton:hover{
    background-color: #45a049;
}

.foto-circular {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.foto-circular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}